Repository DEFRA/prsd-iws, pull requests merged in 2019-02, with the labels that each got.

#696 Bulk prenotification - data and file saving
  src/EA.Iws.Core/Movement/Bulk/BulkMovementRulesSummary.cs
  src/EA.Iws.Core/Movement/Bulk/PrenotificationMovement.cs
  src/EA.Iws.DataAccess/Draft/DraftMovementRepository.cs
  src/EA.Iws.DataAccess/EA.Iws.DataAccess.csproj
  src/EA.Iws.DataAccess/EntityFrameworkModule.cs
  src/EA.Iws.DataAccess/IwsContext.cs
  src/EA.Iws.DataAccess/Mappings/Exports/DraftBulkUploadMapping.cs
  src/EA.Iws.DataAccess/Mappings/Exports/DraftMovementMapping.cs
  src/EA.Iws.DataAccess/Mappings/Exports/DraftPackagingInfoMapping.cs
  src/EA.Iws.Database/EA.Iws.Database.csproj
  src/EA.Iws.Database/scripts/Update/0005-Beta/Sprtin5/20190108-141400-add-notification-audit-table.sql
  src/EA.Iws.Domain/EA.Iws.Domain.csproj
  src/EA.Iws.Domain/Movement/BulkUpload/DraftBulkUpload.cs
  src/EA.Iws.Domain/Movement/BulkUpload/DraftMovement.cs
  src/EA.Iws.Domain/Movement/BulkUpload/DraftPackagingInfo.cs
  src/EA.Iws.Domain/Movement/BulkUpload/IDraftMovementRepository.cs
  src/EA.Iws.Domain/Movement/MovementFactory.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/EA.Iws.RequestHandlers.Tests.Unit.csproj
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PerformBulkUploadContentValidationHandlerTests.cs
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/CreateBulkPrenotificationHandler.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PerformBulkUploadContentValidationHandler.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/NotificationNumberDataRowMap.cs
  src/EA.Iws.Requests/EA.Iws.Requests.csproj
  src/EA.Iws.Requests/Movement/PerformBulkUploadContentValidation.cs
  src/EA.Iws.Requests/NotificationMovements/BulkUpload/CreateBulkPrenotification.cs
  src/EA.Iws.Web.Tests.Unit/Controllers/NotificationMovements/PrenotificationBulkUploadControllerTests.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/PrenotificationBulkUploadController.cs
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/PrenotificationBulkUpload/ShipmentMovementDocumentsViewModel.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/Success.cshtml
  src/EA.Iws.Web/Infrastructure/BulkUpload/BulkMovementValidator.cs
Labels: bulk-prenote

#697 Increased the size of the start button to beyond the default
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/Index.cshtml
Labels: bulk-prenote

#701 Validation for existing shipment numbers
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationInvalidShipmentNumbersRuleTests.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentOnlyNewShipmentsRule.cs
Labels: bulk-prenote

#700 Feature/receipt recovery start
  src/EA.Iws.Web.Tests.Unit/Controllers/NotificationMovements/ReceiptRecoveryBulkUploadControllerTests.cs
  src/EA.Iws.Web.Tests.Unit/EA.Iws.Web.Tests.Unit.csproj
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/Index.cshtml
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/ReceiptRecoveryBulkUploadResources.Designer.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/ReceiptRecoveryBulkUploadResources.resx
  src/EA.Iws.Web/EA.Iws.Web.csproj
Labels: bulk-receipt-recovery

#702 Bulk prenote validations
  src/EA.Iws.Core/EA.Iws.Core.csproj
  src/EA.Iws.Core/Movement/Bulk/BulkMovementContentRules.cs
  src/EA.Iws.Core/Movement/Bulk/BulkMovementFileRules.cs
  src/EA.Iws.Core/Movement/Bulk/IBulkMovementPrenotificationContentRule.cs
  src/EA.Iws.Core/Movement/Bulk/PrenotificationMovement.cs
  src/EA.Iws.Core/Movement/Bulk/PrenotificationMovementCollection.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationShipmentBeyondConsentWindowRuleTests.cs
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PerformBulkUploadContentValidationHandler.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentConsentValidityRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentDateFormatRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentDateHistoricRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentDuplicateShipmentNumberRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentExcessiveShipmentsRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentInvalidPackagingTypeRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentInvalidShipmentNumberRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentMissingDataRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentMissingShipmentNumberRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentNotificationNumberRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentOnlyNewShipmentsRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentQuantityExceededRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentQuantityRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentQuantityUnitRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentShipmentBeyondConsentedDateRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentThreeWorkingDaysConsentDateRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentThreeWorkingDaysRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/ActualDateOfShipmentDataRowMap.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/PrenotificationMovementCollectionMap.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/ShipmentQuantityUnitDataRowMap.cs
  src/EA.Iws.Web/Infrastructure/BulkUpload/BulkMovementValidator.cs
Labels: bulk-prenote

#704 Feature/receipt recovery upload screen
  src/EA.Iws.Web.Tests.Unit/Controllers/NotificationMovements/ReceiptRecoveryBulkUploadControllerTests.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/ReceiptRecoveryBulkUploadController.cs
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/ReceiptRecoveryBulkUpload/ReceiptRecoveryBulkUploadViewModel.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/ReceiptRecoveryBulkUploadResources.Designer.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/ReceiptRecoveryBulkUploadResources.resx
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/Upload.cshtml
  src/EA.Iws.Web/EA.Iws.Web.csproj
Labels: bulk-receipt-recovery

#706 Created the warning page for receipt/recovery bulk upload
  src/EA.Iws.Web.Tests.Unit/Controllers/NotificationMovements/ReceiptRecoveryBulkUploadControllerTests.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/ReceiptRecoveryBulkUploadController.cs
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/ReceiptRecoveryBulkUpload/WarningChoiceViewModel.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/ReceiptRecoveryBulkUploadResources.Designer.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/ReceiptRecoveryBulkUploadResources.resx
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/Warning.cshtml
  src/EA.Iws.Web/EA.Iws.Web.csproj
Labels: bulk-receipt-recovery

#705 Feature/receipt recovery template
  src/EA.Iws.Api/Documents/BulkUploadReceiptRecoveryTemplate.xlsx
  src/EA.Iws.Api/EA.Iws.Api.csproj
  src/EA.Iws.Core/Documents/BulkType.cs
  src/EA.Iws.DocumentGeneration/DocumentGenerator/MovementDocumentGenerator.cs
  src/EA.Iws.Web.Tests.Unit/Controllers/NotificationMovements/BulkUploadTemplateControllerTests.cs
  src/EA.Iws.Web/Areas/NotificationApplication/Views/Options/IndexResources.Designer.cs
  src/EA.Iws.Web/Areas/NotificationApplication/Views/Options/IndexResources.resx
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/BulkUploadTemplateController.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/BulkUploadTemplate/BulkUploadTemplateResources.Designer.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/BulkUploadTemplate/BulkUploadTemplateResources.resx
  src/EA.Iws.Web/Areas/NotificationMovements/Views/BulkUploadTemplate/Index.cshtml
Labels: bulk-receipt-recovery

#707 Hotfix/bulk prenote validations
  src/EA.Iws.Core/Movement/Bulk/BulkMovementContentRules.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PerformBulkUploadContentValidationHandlerTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationInvalidPackagingTypeRuleTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationOnlyNewShipmentsRuleTests.cs.cs
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PerformBulkUploadContentValidationHandler.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentInvalidPackagingTypeRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentInvalidShipmentNumberRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentMissingShipmentNumberRule.cs
  src/EA.Iws.Web/Infrastructure/FileReader.cs
Labels: bulk-prenote

#711 Content validations for units
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationContentQuantityUnitRuleTests.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PerformBulkUploadContentValidationHandler.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentQuantityUnitRule.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/PrenotificationBulkUploadController.cs
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/PrenotificationBulkUpload/PrenotificationBulkUploadViewModel.cs
  src/EA.Iws.Web/Infrastructure/FileReader.cs
Labels: bulk-prenote

#712 Feature/receipt recovery confirmation screen
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/ReceiptRecoveryBulkUploadController.cs
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/ReceiptRecoveryBulkUpload/ShipmentMovementDocumentsViewModel.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/ReceiptRecoveryBulkUploadResources.Designer.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/ReceiptRecoveryBulkUploadResources.resx
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/Success.cshtml
  src/EA.Iws.Web/EA.Iws.Web.csproj
Labels: bulk-receipt-recovery

#714 Bulk prenote file type validation
  src/EA.Iws.Web/Infrastructure/BulkPrenotification/FileParsePrenotificationFileRule.cs
  src/EA.Iws.Web/Infrastructure/BulkPrenotification/PrenotificationFileTypeRule.cs
Labels: bulk-prenote

#715 Feature/receipt recovery apply prenote updates
  src/EA.Iws.Core/EA.Iws.Core.csproj
  src/EA.Iws.Core/Movement/BulkReceiptRecovery/IReceiptRecoveryContentRule.cs
  src/EA.Iws.Core/Movement/BulkReceiptRecovery/ReceiptRecoveryContentRuleResult.cs
  src/EA.Iws.Core/Movement/BulkReceiptRecovery/ReceiptRecoveryContentRules.cs
  src/EA.Iws.Core/Movement/BulkReceiptRecovery/ReceiptRecoveryRulesSummary.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/PerformReceiptRecoveryContentValidationHandler.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/ReceiptRecoveryBulkUploadController.cs
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/ReceiptRecoveryBulkUpload/ReceiptRecoveryBulkUploadViewModel.cs
Labels: bulk-receipt-recovery

#716 Bulk prenote validations
  src/EA.Iws.Core/Movement/BulkPrenotification/PrenotificationContentRules.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/EA.Iws.RequestHandlers.Tests.Unit.csproj
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationContentDateHistoricRuleTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationDateFutureRuleTests.cs
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PerformPrenotificationContentValidationHandler.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationDateFutureRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/PackagingTypesDataRowMap.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/ShipmentQuantityUnitDataRowMap.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/PrenotificationBulkUploadController.cs
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/PrenotificationBulkUpload/ShipmentMovementDocumentsViewModel.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/TotalActiveLoadsReached.cshtml
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/TotalActiveLoadsReachedResources.Designer.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/TotalActiveLoadsReachedResources.resx
  src/EA.Iws.Web/EA.Iws.Web.csproj
Labels: bulk-prenote

#717 Add error screen for receipt recovery.
  src/EA.Iws.Core/Movement/BulkReceiptRecovery/ReceiptRecoveryContentRules.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/ReceiptRecoveryBulkUploadController.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/Errors.cshtml
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/ReceiptRecoveryBulkUploadResources.Designer.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/ReceiptRecoveryBulkUploadResources.resx
  src/EA.Iws.Web/EA.Iws.Web.csproj
  src/EA.Iws.Web/Infrastructure/BulkReceiptRecovery/ReceiptRecoveryValidator.cs
Labels: bulk-receipt-recovery

#718 Feature/receipt recovery file validation
  src/EA.Iws.Core/Movement/BulkReceiptRecovery/ReceiptRecoveryContentRules.cs
  src/EA.Iws.Core/Movement/BulkReceiptRecovery/ReceiptRecoveryFileRules.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/PerformReceiptRecoveryContentValidationHandler.cs
  src/EA.Iws.Web/EA.Iws.Web.csproj
  src/EA.Iws.Web/Infrastructure/BulkReceiptRecovery/FileParseReceiptRecoveryFileRule.cs
  src/EA.Iws.Web/Infrastructure/BulkReceiptRecovery/ReceiptRecoveryFileSizeRule.cs
  src/EA.Iws.Web/Infrastructure/BulkReceiptRecovery/ReceiptRecoveryFileTypeRule.cs
  src/EA.Iws.Web/Infrastructure/BulkReceiptRecovery/VirusRule.cs
Labels: bulk-receipt-recovery

#719 Update error message for pre-content validations.
  src/EA.Iws.Core/Movement/BulkPrenotification/PrenotificationContentRules.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PerformPrenotificationContentValidationHandler.cs
Labels: bulk-prenote

#720 Bulk prenote success screen
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/Success.cshtml
  src/EA.Iws.Web/EA.Iws.Web.csproj
Labels: bulk-prenote

#722 Feature/receipt recovery content validation 1
  src/EA.Iws.RequestHandlers.Tests.Unit/EA.Iws.RequestHandlers.Tests.Unit.csproj
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/PerformReceiptRecoveryContentValidationHandlerTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryDuplicateShipmentNumberRuleTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/PerformReceiptRecoveryContentValidationHandlerTests.cs
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryDuplicateShipmentNumberRule.cs
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/ReceiptRecoveryBulkUpload/ReceiptRecoveryBulkUploadViewModel.cs
Labels: bulk-receipt-recovery

#724 Bulk prenote updates
  src/EA.Iws.Api/Documents/BulkUploadPrenotificationTemplate.xlsx
  src/EA.Iws.DocumentGeneration/DocumentGenerator/MovementDocumentGenerator.cs
  src/EA.Iws.Domain/IMovementDocumentGenerator.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/EA.Iws.RequestHandlers.Tests.Unit.csproj
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/GetBulkUploadTemplateHandlerTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationNotificationNumberRuleTests.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationContentThreeWorkingDaysRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationDateFutureRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationInvalidPackagingTypeRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationNotificationNumberRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationThreeWorkingDaysConsentRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/GetBulkUploadTemplateHandler.cs
  src/EA.Iws.Requests/NotificationMovements/BulkUpload/GetBulkUploadTemplate.cs
  src/EA.Iws.Web.Tests.Unit/Controllers/NotificationMovements/BulkUploadTemplateControllerTests.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/BulkUploadTemplateController.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/BulkUploadTemplate/Index.cshtml
Labels: bulk-prenote

#726 Bulk prenote unit test
  src/EA.Iws.RequestHandlers.Tests.Unit/EA.Iws.RequestHandlers.Tests.Unit.csproj
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationDateFormatRuleTests.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/Errors.cshtml
Labels: bulk-prenote

#727 Feature/carrier prenotification
  src/EA.Iws.Core/Carriers/CarrierList.cs
  src/EA.Iws.Core/EA.Iws.Core.csproj
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.RequestHandlers/NotificationMovements/Create/CreateMovementCarriersHandler.cs
  src/EA.Iws.Requests/EA.Iws.Requests.csproj
  src/EA.Iws.Requests/NotificationMovements/Create/CreateMovementCarriers.cs
  src/EA.Iws.Web.Tests.Unit/Controllers/NotificationMovements/CreateControllerTests.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/CreateController.cs
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/Create/CarrierViewModel.cs
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/Create/WhoAreYourCarrierViewModel.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/Create/AddIntendedCarrier.cshtml
  src/EA.Iws.Web/Areas/NotificationMovements/Views/Create/AddIntendedCarrierResource.Designer.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/Create/AddIntendedCarrierResource.resx
  src/EA.Iws.Web/Areas/NotificationMovements/Views/Create/WhoAreYourCarriers.cshtml
  src/EA.Iws.Web/Areas/NotificationMovements/Views/Create/WhoAreYourCarriersResource.Designer.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/Create/WhoAreYourCarriersResource.resx
  src/EA.Iws.Web/EA.Iws.Web.csproj
Labels: carrier-prenote

#728 Feature/receipt recovery content validation mike
  src/EA.Iws.Core/EA.Iws.Core.csproj
  src/EA.Iws.Core/Movement/BulkReceiptRecovery/ReceiptRecoveryDataRow.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/EA.Iws.RequestHandlers.Tests.Unit.csproj
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryNotificationNumberRuleTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryReceiptDateFormatRuleTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryReceiptDateValidationRuleTests.cs
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryNotificationNumberRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryReceiptDateFormatRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryReceiptDateValidationRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/ReceiptRecoveryMappings/DateDataRowMap.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/ReceiptRecoveryMappings/NotificationNumberDataRowMap.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/ReceiptRecoveryMappings/QuantityDataRowMap.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/ReceiptRecoveryMappings/ShipmentNumberDataRowMap.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/ReceiptRecoveryMappings/ShipmentQuantityUnitDataRowMap.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/ReceiptRecoveryMovementCollectionMap.cs
  src/EA.Iws.RequestHandlers/RequestHandlerModule.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/ReceiptRecoveryBulkUploadResources.Designer.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/ReceiptRecoveryBulkUploadResources.resx
Labels: bulk-receipt-recovery

#730 Added the receipt/recovery validation rule for quantity precision.
  src/EA.Iws.RequestHandlers.Tests.Unit/EA.Iws.RequestHandlers.Tests.Unit.csproj
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryQuantityPrecisionRuleTests.cs
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryQuantityPrecisionRule.cs
Labels: bulk-receipt-recovery

#731 Feature/receipt recovery task 67058
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/ReceiptRecoveryBulkUploadController.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/Success.cshtml
Labels: bulk-receipt-recovery

#735 Bulk prenote styling - error screen
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/Errors.cshtml
  src/EA.Iws.Web/Content/iws-page.scss
Labels: bulk-prenote

#737 Removed the MissingShipmentNumbers and MissingNotificationNumber rule…
  src/EA.Iws.Core/Movement/BulkReceiptRecovery/ReceiptRecoveryContentRules.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/PerformReceiptRecoveryContentValidationHandlerTests.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/PerformReceiptRecoveryContentValidationHandler.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/ReceiptRecoveryMappings/NotificationNumberDataRowMap.cs
Labels: bulk-receipt-recovery

#738 Hotfix/receipt validation
  src/EA.Iws.Core/Movement/BulkReceiptRecovery/ReceiptRecoveryContentRules.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryRecoverOnlyRuleTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryRecoveryDateFormatRuleTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryRecoveryMustBeInPastRuleTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryShipmentMustBePrenotifiedRuleTests.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryReceiptOnlyRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryRecoveryDateFormatRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryRecoveryDateInFutureRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryRecoveryOnlyRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryShipmentMustBePrenotifiedRule.cs
  src/EA.Iws.Web.Tests.Unit/Controllers/NotificationMovements/ReceiptRecoveryBulkUploadControllerTests.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/BulkUploadTemplateController.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/ReceiptRecoveryBulkUploadController.cs
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/BulkUploadTemplate/BulkUploadTemplateViewModel.cs
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/ReceiptRecoveryBulkUpload/ReceiptRecoveryBulkUploadViewModel.cs
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/ReceiptRecoveryBulkUpload/WarningChoiceViewModel.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/BulkUploadTemplate/BulkUploadTemplateResources.Designer.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/BulkUploadTemplate/BulkUploadTemplateResources.resx
  src/EA.Iws.Web/Areas/NotificationMovements/Views/BulkUploadTemplate/Index.cshtml
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/Errors.cshtml
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/Index.cshtml
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/ReceiptRecoveryBulkUploadResources.Designer.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/ReceiptRecoveryBulkUploadResources.resx
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/Upload.cshtml
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/Warning.cshtml
Labels: bulk-receipt-recovery

#742 Updated the text on the upload page for prenotification bulk upload
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/PrenotificationBulkUploadResources.Designer.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/PrenotificationBulkUploadResources.resx
Labels: bulk-prenote

#745 Updated text as per bug 67129
  src/EA.Iws.Api/Documents/BulkUploadPrenotificationTemplate.xlsx
Labels: bulk-prenote

#747 Feature/receipt recovery write to draft
  src/EA.Iws.DataAccess/Draft/DraftMovementRepository.cs
  src/EA.Iws.Database/EA.Iws.Database.csproj
  src/EA.Iws.Database/scripts/Update/0005-Beta/Sprint5/20190211-150500-update-draft.sql
  src/EA.Iws.Domain/Movement/BulkUpload/DraftMovement.cs
  src/EA.Iws.Domain/Movement/BulkUpload/IDraftMovementRepository.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/PerformReceiptRecoveryContentValidationHandlerTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PerformBulkUploadContentValidationHandlerTests.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/CreatePrenotificationHandler.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PerformPrenotificationContentValidationHandler.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/PerformReceiptRecoveryContentValidationHandler.cs
Labels: bulk-receipt-recovery

#746 Carriers prenotification reordering
  src/EA.Iws.Core/Carriers/CarrierList.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/CreateController.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/Create/AddIntendedCarrier.cshtml
  src/EA.Iws.Web/Content/iws-page.scss
Labels: carrier-prenote

#743 Added error for when user tries to continue without adding a carrier …
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/CreateController.cs
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/Create/CarrierViewModel.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/Create/AddIntendedCarrier.cshtml
Labels: carrier-prenote

#748 Updates to annex table, add contact person
  src/EA.Iws.Api/Documents/MovementMergeTemplate.docx
  src/EA.Iws.DocumentGeneration/ViewModels/MovementCarrierDetails.cs
  src/EA.Iws.DocumentGeneration/ViewModels/MovementCarriersViewModel.cs
Labels: carrier-prenote

#749 Hotfix/bulk prenote error ordering
  src/EA.Iws.Core/Movement/BulkPrenotification/PrenotificationContentRules.cs
  src/EA.Iws.DataAccess/Draft/DraftMovementRepository.cs
  src/EA.Iws.Domain/Movement/BulkUpload/IDraftMovementRepository.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PerformBulkUploadContentValidationHandlerTests.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PerformPrenotificationContentValidationHandler.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/NotificationNumberDataRowMap.cs
Labels: bulk-prenote

#750 Save bulk receipt recovery data
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/CreateReceiptRecoveryHandler.cs
  src/EA.Iws.Requests/EA.Iws.Requests.csproj
  src/EA.Iws.Requests/NotificationMovements/BulkUpload/CreateReceiptRecovery.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/ReceiptRecoveryBulkUploadController.cs
Labels: bulk-receipt-recovery

#751 Receipt recovery error screen
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/PerformReceiptRecoveryContentValidationHandlerTests.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/PerformReceiptRecoveryContentValidationHandler.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/Errors.cshtml
Labels: bulk-receipt-recovery

#752 Hotfix/receipt bulk upload
  src/EA.Iws.Core/Movement/BulkReceiptRecovery/ReceiptRecoveryContentRules.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/PerformReceiptRecoveryContentValidationHandler.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryReceiptDateFormatRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryRecoveryDateFormatRule.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/ReceiptRecoveryBulkUploadController.cs
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/ReceiptRecoveryBulkUpload/ShipmentMovementDocumentsViewModel.cs
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/ReceiptRecoveryBulkUpload/WarningChoiceViewModel.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/Documents.cshtml
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/Warning.cshtml
Labels: bulk-receipt-recovery

#753 BUG - supporting document showing blank
  src/EA.Iws.Core/Movement/BulkPrenotification/PrenotificationRulesSummary.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/DocumentsController.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/PrenotificationBulkUploadController.cs
  src/EA.Iws.Web/EA.Iws.Web.csproj
  src/EA.Iws.Web/Infrastructure/BulkPrenotification/IPrenotificationValidator.cs
  src/EA.Iws.Web/Infrastructure/BulkPrenotification/PrenotificationValidator.cs
  src/EA.Iws.Web/Infrastructure/BulkPrenotification/VirusRule.cs
Labels: bulk-prenote

#754 Updated all prenotification rules to remove duplicate shipment number…
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationConsentValidityRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationContentThreeWorkingDaysRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationDateFormatRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationDateFutureRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationDateHistoricRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationInvalidPackagingTypeRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationInvalidShipmentNumberRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationNotificationNumberRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationOnlyNewShipmentsRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationQuantityPrecisionRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationQuantityUnitRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationShipmentBeyondConsentRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationThreeWorkingDaysConsentRule.cs
Labels: bulk-prenote

#756 Extended the quantity precision rule to cater for displaying decimal …
  src/EA.Iws.Core/Movement/BulkPrenotification/PrenotificationContentRules.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/EA.Iws.RequestHandlers.Tests.Unit.csproj
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationContentQuantityRuleTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationQuantityPrecisionForCubicMetresAndTonnesRuleTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationQuantityPrecisionForLitresAndKilogramsRuleTests.cs
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationQuantityPrecisionForCubicMetresAndTonnesRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationQuantityPrecisionForLitresAndKilogramsRule.cs
Labels: bulk-prenote

#759 Bulk prenote active loads rule update
  src/EA.Iws.Core/Movement/BulkPrenotification/PrenotificationContentRules.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationExcessiveShipmentsRuleTests.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationExcessiveShipmentsRule.cs
  src/EA.Iws.TestHelpers/DomainFakes/TestableFinancialGuaranteeCollection.cs
  src/EA.Iws.TestHelpers/EA.Iws.TestHelpers.csproj
Labels: bulk-prenote

#761 Prenotification notification options link
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/CreateController.cs
Labels: bug, bulk-prenote

#763 RequireCustomsOffices class no longer takes into account whether star…
  src/EA.Iws.Domain.Tests.Unit/NotificationApplication/NotificationCustomsOfficeTests.cs
  src/EA.Iws.Domain.Tests.Unit/TransportRoute/RequiredCustomsOfficesTests.cs
  src/EA.Iws.Domain/TransportRoute/RequiredCustomsOffices.cs
Labels: brexit

#762 Bulk prenote validation messages order
  src/EA.Iws.Core/Movement/BulkPrenotification/PrenotificationContentRuleResult.cs
  src/EA.Iws.Core/Movement/BulkPrenotification/PrenotificationContentRules.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/EA.Iws.RequestHandlers.Tests.Unit.csproj
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PerformBulkUploadContentValidationHandlerTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationShipmentBeyondConsentWindowRuleTests.cs
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PerformPrenotificationContentValidationHandler.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationConsentValidityRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationContentThreeWorkingDaysRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationDateFormatRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationDateFutureRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationDateHistoricRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationDuplicateShipmentNumberRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationExcessiveShipmentsRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationInvalidPackagingTypeRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationInvalidShipmentNumberRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationNotificationNumberRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationOnlyNewShipmentsRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationQuantityExceededRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationQuantityPrecisionForCubicMetresAndTonnesRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationQuantityPrecisionForLitresAndKilogramsRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationQuantityUnitRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationShipmentBeyondConsentRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationThreeWorkingDaysConsentRule.cs
Labels: bulk-prenote

#767 BUG - supporting document showing blank (BULK RR)
  src/EA.Iws.Core/Movement/BulkReceiptRecovery/ReceiptRecoveryRulesSummary.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/ReceiptRecoveryBulkUploadController.cs
  src/EA.Iws.Web/EA.Iws.Web.csproj
  src/EA.Iws.Web/Infrastructure/BulkReceiptRecovery/IReceiptRecoveryValidator.cs
  src/EA.Iws.Web/Infrastructure/BulkReceiptRecovery/ReceiptRecoveryValidator.cs
  src/EA.Iws.Web/Infrastructure/BulkReceiptRecovery/VirusRule.cs
Labels: bulk-receipt-recovery

#772 Update text on template guidance sheet regarding decimals.
  src/EA.Iws.Api/Documents/BulkUploadPrenotificationTemplate.xlsx
Labels: bulk-prenote

#773 Feature/brexit exit screen customs
  src/EA.Iws.Core/CustomsOffice/EntryExitCustomsSelection.cs
  src/EA.Iws.Core/EA.Iws.Core.csproj
  src/EA.Iws.DataAccess/EA.Iws.DataAccess.csproj
  src/EA.Iws.DataAccess/Mappings/Exports/EntryExitCustomsSelectionsMapping.cs
  src/EA.Iws.DataAccess/Mappings/Exports/TransportRouteMapping.cs
  src/EA.Iws.Database/EA.Iws.Database.csproj
  src/EA.Iws.Database/scripts/Update/0005-Beta/Sprint6/20190214-133900-add-entryExitCustomsTable.sql
  src/EA.Iws.Domain/EA.Iws.Domain.csproj
  src/EA.Iws.Domain/TransportRoute/EntryExitCustomsSelection.cs
  src/EA.Iws.Domain/TransportRoute/TransportRoute.cs
  src/EA.Iws.RequestHandlers/Copy/TransportRouteToTransportRouteCopy.cs
  src/EA.Iws.RequestHandlers/CustomsOffice/GetExitCustomsSelectionForNotificationByIdHandler.cs
  src/EA.Iws.RequestHandlers/CustomsOffice/SetExitCustomsSelectionForNotificationByIdHandler.cs
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.Requests/CustomsOffice/GetEntryExitCustomsSelectionForNotificationById.cs
  src/EA.Iws.Requests/CustomsOffice/SetExitCustomsSelectionForNotificationById.cs
  src/EA.Iws.Requests/EA.Iws.Requests.csproj
  src/EA.Iws.Web.Tests.Unit/ViewModels/CustomsOfficeViewModelTests.cs
  src/EA.Iws.Web/App_Start/BundleConfig.cs
  src/EA.Iws.Web/Areas/NotificationApplication/Controllers/ExitCustomsOfficeController.cs
  src/EA.Iws.Web/Areas/NotificationApplication/ViewModels/CustomsOffice/CustomsOfficeViewModel.cs
  src/EA.Iws.Web/Areas/NotificationApplication/Views/ExitCustomsOffice/ExitCustomsOfficeResources.Designer.cs
  src/EA.Iws.Web/Areas/NotificationApplication/Views/ExitCustomsOffice/ExitCustomsOfficeResources.resx
  src/EA.Iws.Web/Areas/NotificationApplication/Views/ExitCustomsOffice/Index.cshtml
  src/EA.Iws.Web/EA.Iws.Web.csproj
  src/EA.Iws.Web/Scripts/exit-customs-office-required-radio-buttons.js
Labels: brexit

#776 Update text on error message
  src/EA.Iws.Core/Movement/BulkPrenotification/PrenotificationContentRules.cs
Labels: bulk-prenote

#771 Bulk prenote error ordering
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PerformPrenotificationContentValidationHandler.cs
Labels: bulk-prenote

#770 Bulk receipt recovery validations
  src/EA.Iws.Core/Movement/BulkReceiptRecovery/ReceiptRecoveryContentRuleResult.cs
  src/EA.Iws.Core/Movement/BulkReceiptRecovery/ReceiptRecoveryContentRules.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/EA.Iws.RequestHandlers.Tests.Unit.csproj
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/PerformReceiptRecoveryContentValidationHandlerTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryQuantityPrecisionCubicTonnesRuleTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryQuantityPrecisionLitresKilogramsRuleTests.cs
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/PerformReceiptRecoveryContentValidationHandler.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryAlreadyReceivedRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryAlreadyRecoveredRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryDuplicateShipmentNumberRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryNotificationNumberRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryQuantityPrecisionCubicTonnesRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryQuantityPrecisionLitresKilogramsRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryReceiptDateFormatRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryReceiptDateValidationRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryReceiptOnlyRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryRecoveryDateFormatRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryRecoveryDateInFutureRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryRecoveryOnlyRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryRecoveryQuantityUnitRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryShipmentMustBePrenotifiedRule.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/Errors.cshtml
Labels: bulk-receipt-recovery

#779 Bulk receipt recovery validation
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryDuplicateShipmentNumberRule.cs
  src/EA.Iws.Web/Infrastructure/BulkReceiptRecovery/ReceiptRecoveryFileTypeRule.cs
Labels: bulk-receipt-recovery

#780 Changes to the validation rule text
  src/EA.Iws.Core/Movement/BulkPrenotification/PrenotificationContentRules.cs
Labels: bulk-prenote

#783 Bulk prenote file rules
  src/EA.Iws.Core/EA.Iws.Core.csproj
  src/EA.Iws.Core/Movement/BulkPrenotification/PrenotificationRulesSummary.cs
  src/EA.Iws.Core/Movement/BulkUpload/BulkFileRules.cs
  src/EA.Iws.Core/Movement/BulkUpload/BulkFileRulesSummary.cs
  src/EA.Iws.Core/Movement/BulkUpload/BulkFileType.cs
  src/EA.Iws.Web/App_Start/Modules/BulkUploadModule.cs
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/PrenotificationBulkUpload/PrenotificationBulkUploadViewModel.cs
  src/EA.Iws.Web/EA.Iws.Web.csproj
  src/EA.Iws.Web/Infrastructure/BulkPrenotification/FileParsePrenotificationFileRule.cs
  src/EA.Iws.Web/Infrastructure/BulkPrenotification/IPrenotificationFileRule.cs
  src/EA.Iws.Web/Infrastructure/BulkPrenotification/IPrenotificationValidator.cs
  src/EA.Iws.Web/Infrastructure/BulkPrenotification/PrenotificationFileSizeRule.cs
  src/EA.Iws.Web/Infrastructure/BulkPrenotification/PrenotificationFileTypeRule.cs
  src/EA.Iws.Web/Infrastructure/BulkPrenotification/PrenotificationValidator.cs
  src/EA.Iws.Web/Infrastructure/BulkPrenotification/ShippingMovementsFileTypeRules.cs
  src/EA.Iws.Web/Infrastructure/BulkUpload/BulkFileValidator.cs
  src/EA.Iws.Web/Infrastructure/BulkUpload/IBulkFileValidator.cs
Labels: bulk-prenote

#785 Bulk prenote date format message
  src/EA.Iws.Core/EA.Iws.Core.csproj
  src/EA.Iws.Core/Movement/BulkPrenotification/PrenotificationContentRules.cs
  src/EA.Iws.Core/Movement/BulkPrenotification/PrenotificationFileRules.cs
Labels: bulk-prenote

#786 Refactor file validation for receipt recovery.
  src/EA.Iws.Core/EA.Iws.Core.csproj
  src/EA.Iws.Core/Movement/BulkReceiptRecovery/ReceiptRecoveryFileRules.cs
  src/EA.Iws.Core/Movement/BulkReceiptRecovery/ReceiptRecoveryRulesSummary.cs
  src/EA.Iws.Web/App_Start/Modules/BulkUploadModule.cs
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/ReceiptRecoveryBulkUpload/ReceiptRecoveryBulkUploadViewModel.cs
  src/EA.Iws.Web/EA.Iws.Web.csproj
  src/EA.Iws.Web/Infrastructure/BulkReceiptRecovery/FileParseReceiptRecoveryFileRule.cs
  src/EA.Iws.Web/Infrastructure/BulkReceiptRecovery/IReceiptRecoveryFileRule.cs
  src/EA.Iws.Web/Infrastructure/BulkReceiptRecovery/IReceiptRecoveryValidator.cs
  src/EA.Iws.Web/Infrastructure/BulkReceiptRecovery/ReceiptRecoveryFileSizeRule.cs
  src/EA.Iws.Web/Infrastructure/BulkReceiptRecovery/ReceiptRecoveryFileTypeRule.cs
  src/EA.Iws.Web/Infrastructure/BulkReceiptRecovery/ReceiptRecoveryMovementsFileTypeRules.cs
  src/EA.Iws.Web/Infrastructure/BulkReceiptRecovery/ReceiptRecoveryValidator.cs
Labels: bulk-receipt-recovery

#787 Bulk receipt recovery validations
  src/EA.Iws.Core/Movement/BulkReceiptRecovery/ReceiptRecoveryContentRules.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/CreateReceiptRecoveryHandler.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryRecoveryQuantityUnitRule.cs
Labels: bulk-receipt-recovery

#791 Bulk receipt recovery validations
  src/EA.Iws.Core/Movement/BulkReceiptRecovery/ReceiptRecoveryContentRules.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/PerformReceiptRecoveryContentValidationHandlerTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryReceiptOnlyRuleTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryRecoverOnlyRuleTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryShipmentMustBePrenotifiedRuleTests.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/CreateReceiptRecoveryHandler.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/PerformReceiptRecoveryContentValidationHandler.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryAlreadyReceivedRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryReceiptOnlyRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryRecoveryOnlyRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryShipmentMustBePrenotifiedRule.cs
Labels: bulk-receipt-recovery

#792 Bulk receipt recovery validation
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryReceiptOnlyRule.cs
Labels: bulk-receipt-recovery

#796 Update validation for checking dates for recovery/disposal.
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryAlreadyReceivedRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryAlreadyRecoveredRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryRecoveryOnlyRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryShipmentMustBePrenotifiedRule.cs
Labels: bulk-receipt-recovery

#801 Import notifications - telephone prefix
  src/EA.Iws.Core/ImportNotification/Draft/Contact.cs
  src/EA.Iws.Core/ImportNotification/Summary/Contact.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/ImportNotification/Validate/ContactTestData.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/ImportNotification/Validate/ContactValidatorTests.cs
  src/EA.Iws.RequestHandlers/ImportNotification/Mappings/ContactMap.cs
  src/EA.Iws.RequestHandlers/ImportNotification/Summary/GetSummaryHandler.cs
  src/EA.Iws.RequestHandlers/ImportNotification/Validate/ContactValidator.cs
  src/EA.Iws.RequestHandlers/ImportNotification/Validate/ContactValidatorResources.Designer.cs
  src/EA.Iws.RequestHandlers/ImportNotification/Validate/ContactValidatorResources.resx
  src/EA.Iws.RequestHandlers/Mappings/ImportNotification/ContactMap.cs
  src/EA.Iws.Web/Areas/ImportNotification/ViewModels/Shared/ContactViewModel.cs
  src/EA.Iws.Web/Areas/ImportNotification/Views/Shared/DisplayTemplates/Contact.cshtml
  src/EA.Iws.Web/Areas/ImportNotification/Views/Shared/EditorTemplates/ContactViewModel.cshtml
  src/EA.Iws.Web/Areas/ImportNotification/Views/Shared/EditorTemplates/ContactViewModelEditorResources.Designer.cs
  src/EA.Iws.Web/Areas/ImportNotification/Views/Shared/EditorTemplates/ContactViewModelEditorResources.resx
Labels: address-book-internal

#800 Feature/customs office entry/exit deletion
  src/EA.Iws.DataAccess/Repositories/Imports/TransportRouteRepository.cs
  src/EA.Iws.Domain/ImportNotification/ITransportRouteRepository.cs
  src/EA.Iws.RequestHandlers/CustomsOffice/DeleteEntryCustomsOfficeByNotificationIdHandler.cs
  src/EA.Iws.RequestHandlers/CustomsOffice/DeleteExitCustomsOfficeByNotificationIdHandler.cs
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.Requests/CustomsOffice/DeleteEntryCustomsOfficeByNotificationId.cs
  src/EA.Iws.Requests/CustomsOffice/DeleteExitCustomsOfficeByNotificationId.cs
  src/EA.Iws.Requests/EA.Iws.Requests.csproj
  src/EA.Iws.Web/Areas/NotificationApplication/Controllers/EntryCustomsOfficeController.cs
  src/EA.Iws.Web/Areas/NotificationApplication/Controllers/ExitCustomsOfficeController.cs
Labels: brexit

#802 Bug fix for radio button preselection
  src/EA.Iws.RequestHandlers/CustomsOffice/SetExitCustomsOfficeSelectionForNotificationByIdHandler.cs
  src/EA.Iws.Web/Areas/NotificationApplication/Views/Home/_Journey.cshtml
Labels: brexit

#803 Alter Reports - place in the correct folder
  src/EA.Iws.Database/EA.Iws.Database.csproj
  src/EA.Iws.Database/scripts/Everytime/02-Views/0017-Reports-Payments.sql
  src/EA.Iws.Database/scripts/Everytime/02-Views/0018-Reports-Finance.sql
  src/EA.Iws.Database/scripts/Update/0005-Beta/Sprint6/20190218-134200-alter-reports-payments-view.sql
  src/EA.Iws.Database/scripts/Update/0005-Beta/Sprint6/20190218-144700-alter-reports-finance-view.sql
Labels: brexit

#798 Export and import payment comments are editable
  src/EA.Iws.DataAccess/Repositories/Imports/ImportNotificationTransactionRepository.cs
  src/EA.Iws.DataAccess/Repositories/NotificationTransactionRepository.cs
  src/EA.Iws.Domain/ImportNotificationAssessment/Transactions/IImportNotificationTransactionRepository.cs
  src/EA.Iws.Domain/ImportNotificationAssessment/Transactions/ImportNotificationTransaction.cs
  src/EA.Iws.Domain/NotificationAssessment/INotificationTransactionRepository.cs
  src/EA.Iws.Domain/NotificationAssessment/NotificationTransaction.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/Admin/NotificationAssessment/UpdateExportAccountManagementCommentsHandlerTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/Admin/NotificationAssessment/UpdateImportAccountManagementCommentsHandlerTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/EA.Iws.RequestHandlers.Tests.Unit.csproj
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.RequestHandlers/ImportNotificationAssessment/UpdateImportAccountManagementCommentsHandler.cs
  src/EA.Iws.RequestHandlers/NotificationAssessment/UpdateExportAccountManagementCommentsHandler.cs
  src/EA.Iws.Requests/EA.Iws.Requests.csproj
  src/EA.Iws.Requests/ImportNotificationAssessment/UpdateImportNotificationAssesmentComments.cs
  src/EA.Iws.Requests/NotificationAssessment/UpdateExportNotificationAssementCommets.cs
  src/EA.Iws.Web/Areas/AdminExportAssessment/Controllers/AccountManagementController.cs
  src/EA.Iws.Web/Areas/AdminExportAssessment/ViewModels/AccountManagement/AccountManagementViewModel.cs
  src/EA.Iws.Web/Areas/AdminExportAssessment/Views/AccountManagement/Index.cshtml
  src/EA.Iws.Web/Areas/AdminImportAssessment/Controllers/AccountManagementController.cs
  src/EA.Iws.Web/Areas/AdminImportAssessment/ViewModels/AccountManagement/AccountManagementViewModel.cs
  src/EA.Iws.Web/Areas/AdminImportAssessment/Views/AccountManagement/Index.cshtml
Labels: brexit

#806 Revert the tab headings
  src/EA.Iws.Web/Areas/AddressBook/Views/Home/_Navigation.cshtml
Labels: address-book-external

#807 Data file validation - message update
  src/EA.Iws.Core/Movement/BulkUpload/BulkFileRules.cs
  src/EA.Iws.Web/Infrastructure/BulkUpload/BulkFileValidator.cs
Labels: bulk-prenote, bulk-receipt-recovery

#808 Ignore case when parsing into enum for packaging types and quantity.
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/PackagingTypesDataRowMap.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/ShipmentQuantityUnitDataRowMap.cs
Labels: bulk-prenote

#809 Ignore case when parsing quantity for receipt recovery.
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/ReceiptRecoveryMappings/ShipmentQuantityUnitDataRowMap.cs
Labels: bulk-receipt-recovery

#805 Feature/customs office completion status
  src/EA.Iws.Core/Notification/NotificationApplicationCompletionProgress.cs
  src/EA.Iws.Database/scripts/Everytime/03-StoredProcedures/0001-uspNotificationProgress.sql
  src/EA.Iws.RequestHandlers/Notification/NotificationProgressService.cs
  src/EA.Iws.Web/Areas/NotificationApplication/ViewModels/NotificationApplication/JourneyViewModel.cs
  src/EA.Iws.Web/Areas/NotificationApplication/Views/Home/OverviewSections/_CustomsOffice.cshtml
  src/EA.Iws.Web/Areas/NotificationApplication/Views/Home/_Navigation.cshtml
Labels: brexit

#811 Fix issue with checking customs office selections for progress tracker.
  src/EA.Iws.RequestHandlers/Notification/NotificationProgressService.cs
Labels: brexit, bug

#812 Return to the edited page. Align links
  src/EA.Iws.Web/Areas/AddressBook/Controllers/EditController.cs
  src/EA.Iws.Web/Areas/AddressBook/ViewModels/EditAddressViewModel.cs
  src/EA.Iws.Web/Areas/AddressBook/Views/Edit/Index.cshtml
  src/EA.Iws.Web/Areas/AddressBook/Views/Home/Index.cshtml
  src/EA.Iws.Web/Areas/ImportNotification/Views/TransitState/_Table.cshtml
  src/EA.Iws.Web/Areas/NotificationApplication/Views/TransportRoute/TransitStatesSummary.cshtml
Labels: address-book-external, brexit

#814 added additional text!
  src/EA.Iws.Web/Areas/AddressBook/Views/Home/Index.cshtml
Labels: address-book-external

#817 Bulk prenote active loads rule
  src/EA.Iws.Core/Movement/BulkPrenotification/PrenotificationContentRules.cs
  src/EA.Iws.DataAccess/Repositories/MovementRepository.cs
  src/EA.Iws.Domain/Movement/IMovementRepository.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/EA.Iws.RequestHandlers.Tests.Unit.csproj
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PerformBulkUploadContentValidationHandlerTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationExcessiveShipmentsRuleTests.cs
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PerformPrenotificationContentValidationHandler.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationExcessiveShipmentsRule.cs
Labels: bulk-prenote

#820 Remove access of Date property which is unsupported.
  src/EA.Iws.DataAccess/Repositories/MovementRepository.cs
Labels: bulk-prenote

#822 Certain notification statuses are now exempt from the customs office …
  src/EA.Iws.Database/scripts/Everytime/03-StoredProcedures/0001-uspNotificationProgress.sql
  src/EA.Iws.RequestHandlers/Notification/NotificationProgressService.cs
Labels: brexit

#824 Bulk receipt recovery bug fixes
  src/EA.Iws.Api/Documents/BulkUploadReceiptRecoveryTemplate.xlsx
  src/EA.Iws.Core/Movement/BulkReceiptRecovery/ReceiptRecoveryContentRules.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryReceiptOnlyRuleTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryRecoverOnlyRuleTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryShipmentMustBePrenotifiedRuleTests.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/PerformReceiptRecoveryContentValidationHandler.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryReceiptOnlyRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryRecoveryDateInFutureRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryRecoveryOnlyRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryShipmentMustBePrenotifiedRule.cs
  src/EA.Iws.Web/Infrastructure/BulkUpload/BulkFileValidator.cs
Labels: bulk-receipt-recovery

#827 Applied fix to file that was missing on initial development.
  src/EA.Iws.Web/Areas/AdminExportAssessment/Views/Overview/Sections/_CustomsOffice.cshtml
Labels: brexit

#813 Feature/internal add to address book
  src/EA.Iws.RequestHandlers.Tests.Unit/AddressBook/AddImportAddressBookEntryHandlerTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/EA.Iws.RequestHandlers.Tests.Unit.csproj
  src/EA.Iws.RequestHandlers.Tests.Unit/ImportNotification/Validate/AddressTestData.cs
  src/EA.Iws.RequestHandlers/AddressBook/AddImportAddressBookEntryHandler.cs
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.Requests/AddressBook/AddImportAddressBookEntry.cs
  src/EA.Iws.Requests/EA.Iws.Requests.csproj
  src/EA.Iws.Web/Areas/ImportNotification/Controllers/ValidateController.cs
Labels: address-book-imports

#831 Bulk receipt recovery cubic metres case sensitivity
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/ReceiptRecoveryMappings/ShipmentQuantityUnitDataRowMap.cs
Labels: bulk-receipt-recovery

#830 Bulk prenote - cubic metres case sensitivity
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/ShipmentQuantityUnitDataRowMap.cs
Labels: bulk-prenote

#835 Add ordering. Change field position
  src/EA.Iws.Web/Areas/NotificationApplication/ViewModels/Carrier/AddFromAddressBookViewModel.cs
Labels: carrier-prenote

#837 Amend address type to the title
  src/EA.Iws.Web/Areas/AddressBook/Views/Edit/Add.cshtml
  src/EA.Iws.Web/Areas/AddressBook/Views/Edit/AddEditResource.Designer.cs
  src/EA.Iws.Web/Areas/AddressBook/Views/Edit/AddEditResource.resx
Labels: address-book-external

#840 Bulk prenote quantity numeric
  src/EA.Iws.Core/Movement/BulkPrenotification/PrenotificationContentRules.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/EA.Iws.RequestHandlers.Tests.Unit.csproj
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationQuantityNumericTests.cs
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkPrenotification/PrenotificationQuantityNumericRule.cs
Labels: bulk-prenote

#842 Bulk receipt/recovery - validation updates
  src/EA.Iws.Core/Movement/BulkReceiptRecovery/ReceiptRecoveryContentRules.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/EA.Iws.RequestHandlers.Tests.Unit.csproj
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryQuantityNumericRuleTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryRecoveryMustBeInPastRuleTests.cs
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryQuantityNumericRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryRecoveryDateInFutureRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryRecoveryOnlyRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryShipmentMustBePrenotifiedRule.cs
Labels: bulk-receipt-recovery

#843 Carriers reordering bug
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/CreateController.cs
Labels: carrier-prenote

#846 Bulk receipt recovery - validations
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryAlreadyReceivedRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryAlreadyRecoveredRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryNotificationNumberRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryQuantityPrecisionCubicTonnesRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryQuantityPrecisionLitresKilogramsRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryReceiptDateFormatRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryReceiptDateValidationRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryReceiptOnlyRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryRecoveryDateFormatRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryRecoveryDateInFutureRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryRecoveryOnlyRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkReceiptRecovery/ReceiptRecoveryShipmentMustBePrenotifiedRule.cs
Labels: bulk-receipt-recovery

#845 Added checks against package type enum display name
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/PackagingTypesDataRowMap.cs
Labels: bulk-prenote

#844 The backToOverview functionality has been added to the customs office…
  src/EA.Iws.Web/Areas/NotificationApplication/Controllers/EntryCustomsOfficeController.cs
  src/EA.Iws.Web/Areas/NotificationApplication/Controllers/ExitCustomsOfficeController.cs
  src/EA.Iws.Web/Areas/NotificationApplication/Views/Home/_Journey.cshtml
Labels: brexit

#848 Carrier prenote validations and saving
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/CreateController.cs
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/Create/CarrierViewModel.cs
Labels: carrier-prenote

#849 Fixed alignment bug on all screens in overview
  src/EA.Iws.Web/Areas/NotificationApplication/Views/Home/_AmountsAndDates.cshtml
  src/EA.Iws.Web/Areas/NotificationApplication/Views/Home/_ClassifyYourWaste.cshtml
  src/EA.Iws.Web/Areas/NotificationApplication/Views/Home/_Journey.cshtml
  src/EA.Iws.Web/Areas/NotificationApplication/Views/Home/_OrganisationsInvolved.cshtml
  src/EA.Iws.Web/Areas/NotificationApplication/Views/Home/_RecoveryOperation.cshtml
  src/EA.Iws.Web/Areas/NotificationApplication/Views/Home/_Transportation.cshtml
  src/EA.Iws.Web/Areas/NotificationApplication/Views/Home/_WasteCodes.cshtml
  src/EA.Iws.Web/Areas/NotificationApplication/Views/Home/_WasteRecovery.cshtml
Labels: brexit

#850 Changed the ordering of the comments
  src/EA.Iws.Database/scripts/Everytime/02-Views/0017-Reports-Payments.sql
Labels: brexit

#853 Bulk receipt recovery notification type header
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/ReceiptRecoveryBulkUploadController.cs
Labels: bulk-receipt-recovery

#855 Bulk receipt recovery - text updates
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/ReceiptRecoveryBulkUploadResources.Designer.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/ReceiptRecoveryBulkUploadResources.resx
  src/EA.Iws.Web/Areas/NotificationMovements/Views/ReceiptRecoveryBulkUpload/Success.cshtml
Labels: bulk-receipt-recovery

#856 Fix typo on the css class for the customs office.
  src/EA.Iws.Web/Areas/NotificationApplication/Views/Home/_Journey.cshtml
Labels: brexit

#859 Fixed the comments section being open when there is an error
  src/EA.Iws.Web/Areas/AdminExportAssessment/Views/AccountManagement/Index.cshtml
  src/EA.Iws.Web/Areas/AdminImportAssessment/Views/AccountManagement/Index.cshtml
Labels: brexit

#860 Update header text on edit screen of address book.
  src/EA.Iws.Web/Areas/AddressBook/Views/Edit/Add.cshtml
  src/EA.Iws.Web/Areas/AddressBook/Views/Edit/AddEditResource.Designer.cs
  src/EA.Iws.Web/Areas/AddressBook/Views/Edit/AddEditResource.resx
  src/EA.Iws.Web/Areas/AddressBook/Views/Edit/Index.cshtml
Labels: address-book-external

#861 Check month range
  src/EA.Iws.Web/ViewModels/Shared/DecisionDateInputViewmodel.cs
Labels: brexit

#864 Notification delete - customs office selection
  src/EA.Iws.DataAccess/Repositories/NotificationApplicationRepository.cs
Labels: brexit

#865 Update deletion of movement carriers
  src/EA.Iws.DataAccess/Repositories/NotificationApplicationRepository.cs
Labels: carrier-prenote

#866 Delete movement carriers correctly.
  src/EA.Iws.DataAccess/Repositories/NotificationApplicationRepository.cs
Labels: carrier-prenote

#867 Update deletion of movement carrier when deleting shipments
  src/EA.Iws.DataAccess/Repositories/MovementRepository.cs
Labels: carrier-prenote

#868 Update to validation.
  src/EA.Iws.Web/ViewModels/Shared/DecisionDateInputViewmodel.cs
Labels: brexit

#869 Use correct column when deleting notification audit.
  src/EA.Iws.DataAccess/Repositories/NotificationApplicationRepository.cs
Labels: audit-trail
