Repository DEFRA/prsd-iws, pull requests merged in 2019-01, with the labels that each got.

#623 Bug fix - add a skip filter for notification owner.
  src/EA.Iws.Web.Tests.Unit/Controllers/NotificationApplication/SharedUser/NotificationOwnerFilterControllerAttributeTests.cs
  src/EA.Iws.Web.Tests.Unit/Infrastructure/NotificationOwnerFilterTests.cs
  src/EA.Iws.Web/Controllers/ChangeNotificationOwnerController.cs
  src/EA.Iws.Web/EA.Iws.Web.csproj
  src/EA.Iws.Web/Infrastructure/NotificationOwnerFilter.cs
  src/EA.Iws.Web/Infrastructure/SkipNotificationOwnerFilter.cs
Labels: bug

#625 Consented record error
  src/EA.Iws.Web.Tests.Unit/Controllers/NotificationMovements/CreateControllerTests.cs
  src/EA.Iws.Web.Tests.Unit/EA.Iws.Web.Tests.Unit.csproj
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/CreateController.cs
Labels: bug

#627 Fix Continue button for Consent expiring in 4, 3 or less, working days
  src/EA.Iws.Web.Tests.Unit/Controllers/NotificationMovements/CreateControllerTests.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/CreateController.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/Create/ConsentExpiresInFourWorkingDays.cshtml
  src/EA.Iws.Web/Areas/NotificationMovements/Views/Create/ConsentExpiresInThreeOrLessWorkingDays.cshtml
Labels: bug

#646 Document download
  src/EA.Iws.Web/Scripts/iws-tracking.js
Labels: bug

#647 Waste codes order - H and HP
  src/EA.Iws.RequestHandlers/Mappings/WasteCodeMap.cs
  src/EA.Iws.Web.Tests.Unit/ViewModels/ImportNotification/SummaryTableContainerViewModelTests.cs
  src/EA.Iws.Web.Tests.Unit/ViewModels/NotificationApplication/WasteCodeOverviewViewModelTests.cs
  src/EA.Iws.Web/Areas/ImportNotification/ViewModels/Home/SummaryTableContainerViewModel.cs
  src/EA.Iws.Web/Areas/NotificationApplication/ViewModels/NotificationApplication/WasteCodeOverviewViewModel.cs
Labels: bug

#658 Delete Shared User records as part of deleting Notifications.
  src/EA.Iws.DataAccess/Repositories/NotificationApplicationRepository.cs
Labels: bug, shared-user

#657 Bug fixes for tasks 66461 and 66462
  src/EA.Iws.Web/Areas/NotificationApplication/Controllers/CarrierController.cs
  src/EA.Iws.Web/Areas/NotificationApplication/Controllers/FacilityController.cs
  src/EA.Iws.Web/Areas/NotificationApplication/Controllers/ProducerController.cs
  src/EA.Iws.Web/Areas/NotificationApplication/ViewModels/Facility/RemoveFacilityViewModel.cs
  src/EA.Iws.Web/Areas/NotificationApplication/ViewModels/Producer/RemoveProducerViewModel.cs
  src/EA.Iws.Web/Areas/NotificationApplication/Views/Facility/Remove.cshtml
  src/EA.Iws.Web/Areas/NotificationApplication/Views/Producer/Remove.cshtml
Labels: audit-trail

#659 Feature/prenotification bulk upload abandon warning
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/PrenotificationBulkUploadController.cs
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/PrenotificationBulkUpload/WarningChoiceViewModel.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/PrenotificationBulkUploadResources.Designer.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/PrenotificationBulkUploadResources.resx
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/Warning.cshtml
  src/EA.Iws.Web/EA.Iws.Web.csproj
Labels: bulk-prenote

#660 Use correct Notification Audit Type enum.
  src/EA.Iws.Web/Areas/NotificationApplication/Controllers/CarrierController.cs
  src/EA.Iws.Web/Areas/NotificationApplication/Controllers/FacilityController.cs
  src/EA.Iws.Web/Areas/NotificationApplication/Controllers/ProducerController.cs
Labels: audit-trail

#664 Prenotification bulk upload error screen
  src/EA.Iws.Core/EA.Iws.Core.csproj
  src/EA.Iws.Core/Movement/Bulk/BulkMovementFileRules.cs
  src/EA.Iws.Core/Movement/Bulk/BulkMovementRulesSummary.cs
  src/EA.Iws.Web/App_Start/Modules/BulkUploadModule.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/PrenotificationBulkUploadController.cs
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/PrenotificationBulkUpload/PrenotificationBulkUploadViewModel.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/Home/_Summary.cshtml
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/Errors.cshtml
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/PrenotificationBulkUploadResources.Designer.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/PrenotificationBulkUploadResources.resx
  src/EA.Iws.Web/Content/images/error-icon.png
  src/EA.Iws.Web/Content/iws-page.scss
  src/EA.Iws.Web/EA.Iws.Web.csproj
  src/EA.Iws.Web/Infrastructure/BulkUpload/BulkMovementValidator.cs
  src/EA.Iws.Web/Infrastructure/BulkUpload/IBulkMovementValidator.cs
Labels: bulk-prenote

#666 Waste codes ordering - add null check
  src/EA.Iws.Web/Areas/ImportNotification/ViewModels/Home/SummaryTableContainerViewModel.cs
  src/EA.Iws.Web/Areas/NotificationApplication/ViewModels/NotificationApplication/WasteCodeOverviewViewModel.cs
Labels: bug

#667 Test data for creating submitted notifications
  src/EA.Iws.Database/EA.Iws.Database.csproj
  src/EA.Iws.Database/scripts/TestData/20190123-175000-create-submitted-notification-2502.sql
  src/EA.Iws.Database/scripts/TestData/20190123-175000-create-submitted-notification-2503.sql
  src/EA.Iws.Database/scripts/TestData/20190123-175000-create-submitted-notification-2504.sql
Labels: shared-user

#668 Delete Notification Audit records as part of deleting Notifications.
  src/EA.Iws.DataAccess/Repositories/NotificationApplicationRepository.cs
Labels: audit-trail

#665 Feature/prenotification bulk upload datafile validation
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/PrenotificationBulkUpload/PrenotificationBulkUploadViewModel.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/UploadPrenotifications.cshtml
  src/EA.Iws.Web/Infrastructure/BulkUpload/BulkMovementValidator.cs
  src/EA.Iws.Web/Web.config
Labels: bulk-prenote

#673 Hotfix/notification audit history
  src/EA.Iws.Web.Tests.Unit/Controllers/NotificationApplication/ChemicalCompositionControllerTests.cs
  src/EA.Iws.Web/Areas/NotificationApplication/Controllers/ChemicalCompositionController.cs
  src/EA.Iws.Web/Areas/NotificationApplication/Controllers/FacilityController.cs
Labels: audit-trail

#677 Added notification ID to the request handler to use throughout valida…
  src/EA.Iws.Core/Movement/Bulk/IBulkMovementPrenotificationContentRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PerformBulkUploadContentValidationHandler.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentMissingDataRule.cs
  src/EA.Iws.Requests/Movement/PerformBulkUploadContentValidation.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/PrenotificationBulkUploadController.cs
  src/EA.Iws.Web/Infrastructure/BulkUpload/BulkMovementValidator.cs
  src/EA.Iws.Web/Infrastructure/BulkUpload/IBulkMovementValidator.cs
Labels: bulk-prenote

#676 Content rule added for dupliate shipping numbers
  src/EA.Iws.Core/Movement/Bulk/BulkMovementContentRules.cs
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentDuplicateShipmentNumberRule.cs
Labels: bulk-prenote

#678 Feature/prenotification bulk upload missing shipment number
  src/EA.Iws.Core/Movement/Bulk/BulkMovementContentRules.cs
  src/EA.Iws.Core/Movement/Bulk/ContentRuleResult.cs
  src/EA.Iws.Core/Movement/Bulk/PrenotificationMovement.cs
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentDateFormatRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentDateHistoricRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentDuplicateShipmentNumberRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentMissingDataRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentMissingShipmentNumberRule.cs
Labels: bulk-prenote

#680 Prenotification bulk upload mapping
  src/EA.Iws.Core/EA.Iws.Core.csproj
  src/EA.Iws.Core/Movement/Bulk/BulkMovementContentRules.cs
  src/EA.Iws.Core/Movement/Bulk/BulkMovementRulesSummary.cs
  src/EA.Iws.Core/Movement/Bulk/IBulkMovementPrenotificationContentRule.cs
  src/EA.Iws.Core/Movement/Bulk/PrenotificationColumnIndex.cs
  src/EA.Iws.Core/Movement/Bulk/PrenotificationMovement.cs
  src/EA.Iws.Core/Movement/Bulk/PrenotificationMovementCollection.cs
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.RequestHandlers/ImportNotification/Validate/ShipmentValidatorResources.Designer.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PerformBulkUploadContentValidationHandler.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentDateFormatRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentDateHistoricRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentDuplicateShipmentNumberRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentMissingDataRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentMissingShipmentNumberRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentNotificationNumberRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/ActualDateOfShipmentDataRowMap.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/NotificationNumberDataRowMap.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/PackagingTypesDataRowMap.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/PrenotificationMovementCollectionMap.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/QuantityDataRowMap.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/ShipmentNumberDataRowMap.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/ShipmentQuantityUnitDataRowMap.cs
  src/EA.Iws.Requests/Movement/PerformBulkUploadContentValidation.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/Errors.cshtml
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/Index.cshtml
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/UploadPrenotifications.cshtml
  src/EA.Iws.Web/Content/iws-page.scss
  src/EA.Iws.Web/Infrastructure/BulkUpload/BulkMovementValidator.cs
Labels: bulk-prenote

#681 Feature/prenotification bulk upload validation will
  src/EA.Iws.Core/Movement/Bulk/BulkMovementContentRules.cs
  src/EA.Iws.Domain/Properties/AssemblyInfo.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/EA.Iws.RequestHandlers.Tests.Unit.csproj
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationExcessiveShipmentsRuleTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationInvalidPackagingTypeRuleTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationInvalidShipmentNumbersRuleTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationOnlyNewShipmentsRuleTests.cs.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationQuantityExceededRuleTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationShipmentBeyondConsentWindowRuleTests.cs
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentExcessiveShipmentsRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentInvalidPackagingTypeRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentInvalidShipmentNumberRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentOnlyNewShipmentsRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentQuantityExceededRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentShipmentBeyondConsentedDateRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationExcessiveShipmentsDataRule.cs
Labels: bulk-prenote

#683 Created the rule for checking consent validity
  src/EA.Iws.Core/Movement/Bulk/BulkMovementContentRules.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/EA.Iws.RequestHandlers.Tests.Unit.csproj
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationContentConsentValidityRuleTests.cs
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentConsentValidityRule.cs
Labels: bulk-prenote

#684 Prenotification bulk - Quantity precision and Unit
  src/EA.Iws.Core/Movement/Bulk/BulkMovementContentRules.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/EA.Iws.RequestHandlers.Tests.Unit.csproj
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationContentQuantityRuleTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationContentQuantityUnitRuleTests.cs
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentQuantityRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentQuantityUnitRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/QuantityDataRowMap.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/Mappings/ShipmentQuantityUnitDataRowMap.cs
Labels: bulk-prenote

#686 Prenotification bulk upload - 3 working days
  src/EA.Iws.Core/Movement/Bulk/BulkMovementContentRules.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/EA.Iws.RequestHandlers.Tests.Unit.csproj
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationContentThreeWorkingDaysConsentDateRuleTests.cs
  src/EA.Iws.RequestHandlers.Tests.Unit/NotificationMovements/BulkUpload/PrenotificationContentThreeWorkingDaysRuleTests.cs
  src/EA.Iws.RequestHandlers/EA.Iws.RequestHandlers.csproj
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentThreeWorkingDaysConsentDateRule.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PrenotificationContentThreeWorkingDaysRule.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/Errors.cshtml
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/PrenotificationBulkUploadResources.Designer.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/PrenotificationBulkUploadResources.resx
Labels: bulk-prenote

#687 Prenotification bulk upload - document screen
  src/EA.Iws.Core/Movement/Bulk/BulkMovementRulesSummary.cs
  src/EA.Iws.Core/Movement/Bulk/PrenotificationMovement.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/PrenotificationBulkUploadController.cs
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/PrenotificationBulkUpload/PrenotificationBulkUploadViewModel.cs
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/PrenotificationBulkUpload/ShipmentMovementDocumentsViewModel.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/Documents.cshtml
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/PrenotificationBulkUploadResources.Designer.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/PrenotificationBulkUploadResources.resx
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/Succes.cshtml
  src/EA.Iws.Web/EA.Iws.Web.csproj
Labels: bulk-prenote

#694 Feature/bulkupload csv header check
  src/EA.Iws.Core/Movement/Bulk/BulkMovementContentRules.cs
  src/EA.Iws.Core/Movement/Bulk/BulkMovementRulesSummary.cs
  src/EA.Iws.RequestHandlers/NotificationMovements/BulkUpload/PerformBulkUploadContentValidationHandler.cs
  src/EA.Iws.Requests/Movement/PerformBulkUploadContentValidation.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Controllers/PrenotificationBulkUploadController.cs
  src/EA.Iws.Web/Areas/NotificationMovements/ViewModels/PrenotificationBulkUpload/PrenotificationBulkUploadViewModel.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/Errors.cshtml
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/PrenotificationBulkUploadResources.Designer.cs
  src/EA.Iws.Web/Areas/NotificationMovements/Views/PrenotificationBulkUpload/PrenotificationBulkUploadResources.resx
  src/EA.Iws.Web/Content/iws-page.scss
  src/EA.Iws.Web/Infrastructure/BulkUpload/BulkMovementValidator.cs
  src/EA.Iws.Web/Infrastructure/BulkUpload/FileParsePrenotificationFileRule.cs
Labels: bulk-prenote
